/********************************************************************/
/*                             GENERAL                              */
/********************************************************************/

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html, body { height: 100%; }
body {
  color: #ffffff;
  font-size: 16px;
  font-family: arial, sans-serif;
  background-color: #0e1214;
}

h1, h2, h3 {
  color: #eeeeee;
  text-align: center;
  margin: 0.5em 0;
}

.mark {
  background-color: #004FB2;
  color: #FFF;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

h1 { font-size: 34px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
p {
  color: #c0c0c0;
  font-size: 16px;
  font-family: Rosario, arial, sans-serif;
  margin: 0.85em 0;
}
a, a:visited {
  color: inherit;
  text-decoration: none;
}
a.underline { border-bottom: 1px dotted; }
a:hover     { border-bottom: 1px solid; }
a.noeffect:hover { border-bottom: 0; }

/**** Points ****/
.bronze, .silver, .gold { font-weight: bold; }
.bronze:before { color: #ff8937; content: '\00a0\25CF\00a0'; }
.silver:before { color: #a8a8a8; content: '\00a0\25CF\00a0'; }
.gold:before { color: #c98910; content: '\00a0\25CF\00a0'; }

/**** Buttons ****/
.edit-button, .delete-button { height:2.2em; font-size: 11px; font-weight: bold; width: 100px; }
.edit-button { background-color: #1c4bb8; }
.delete-button { background-color: #921E1A; }
.medium-button { height:3.2em; font-size: 11px; font-weight: bold; background-color: #1c4bb8; }
.large-button  { height:3.5em; font-size: 14px; font-weight: bold; background-color: #1c4bb8;
padding-left: 3.5em; padding-right: 3.5em; margin: 10px 0; }

/**** Forms Misc. ****/

/**** Padding in pure grids ****/
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**** Page thematic break ****/
hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted #4f565a;
  margin: 0.4em 0 0.8em 0;
}

/********************************************************************/
/*                          BASE TEMPLATE                           */
/********************************************************************/

/**** Wrapper ****/
.wrapper {
  min-height: 100%;
  position: relative;
}

/**** Header ****/
.header {
  background-color: #000000;
  height: 85px;
  font-size: 17px;
}
.header-content {
  max-width: 1010px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header-logo-area {
  padding-top: 14px;
}
.header-nav-area {
  padding-top: 34px;
  color: #dddddd;
  text-align: center;
}
.header-nav-area-link {
  border-left: 1px dotted #888888;
  padding: 2px 7px;
}
#txt-search {
  background: none;
  border: none;
  border-bottom: 1px dotted #222222;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 120px;
  color: #aaaaaa;
}
.header-loggedin-area { text-align: right; padding-top: 22px; }
.header-loggedin-area .loggedin-name { font-size: 15px; font-weight: bold; }
.header-loggedin-area .loggedin-msg  { font-size: 12px; color: #aaaaaa; margin: 0 -3px; }
.header-login-area {
  text-align: right;
  padding-top: 34px;
}
.button-signup-bg {
  background-color: #222222;
  border-radius: 10px;
  margin-left: 8px;
  padding: 10px 16px 10px 16px;
}

/**** Middle ****/
.middle { padding-bottom: 300px; }
.middle-content {
  padding: 20px 10px;
  max-width: 1000px;
  min-height: 420px;
  margin: 0px auto;
  background: url(/static/img/home_header_bg_gray.png);
  background-repeat: no-repeat;
  background-position: center top;
}

/**** Footer ****/
.footer {
  background-color: #000000;
  min-height: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-content {
  margin: 0px auto;
  padding-top: 25px;
  text-align: center;
}
.footer .language { color: #dddddd }
.footer .languages { color: #404040 }
.footer .language-selected { color: #aaaaaa }
.footer .copyright { color: #aaaaaa }


/********************************************************************/
/*                              HOME                                */
/********************************************************************/

/**** Splash Area ****/
.splash {
  background-color: #0e157b;
  min-height: 490px;
}
.splash-content {
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  background: url(/static/img/home_header_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.splash-title {
  padding-top: 160px;
}
.splash-title h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: -5px;
}
.splash-title h2 {
  font-size: 24px;
}
.splash-title h2 .highlight {
  color: #c4ffb8;
}
.splash-signup {
  padding-top: 115px;
}
.splash-signup input {
  color: black;
  font-size: 20px;
  height: 50px;
  padding-top: 30px;
  margin-right: 10px;
}
.button-start-coding {
  text-shadow: 1px 1px #119831;
  background-color: #1cb841;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: bottom;
}

/**** Code and Info ****/
.code-info {
  padding: 10px;
  max-width: 1000px;
  margin: 0px auto;
  color: #dddddd;
}

.home-lang-selection a:focus { outline: none; }

.form-error {
  color: #ff0000;
}

/********************************************************************/
/*                          LOGIN / SIGNUP                          */
/********************************************************************/
.login-form, .signup-form { font-size: 20px; margin:25px auto; width: 360px; }
.login-form input, .signup-form input { height:56px; }


/********************************************************************/
/*                              BROWSE                              */
/********************************************************************/

/**** Language select ****/
.planguage img, .planguage h3 { opacity: 0.4; filter: alpha(opacity=40); }
.planguage a:hover > img, .planguage_selected img { opacity: 1; filter: alpha(opacity=100); }
.planguage a:hover > h3, .planguage_selected h3 { opacity: 1; filter: alpha(opacity=100); }

/**** Selector ****/
.selector {
  font-size: 15px;
}
.selector a {
  color: #000;
  padding: 0.4em 0.5em 0.2em 0.5em;
  margin: 0 0px 0 0;
  display: inline-block;
  background-color: #2F383B;
  min-width: 8.5em;
}
.selector a:hover {
  border-bottom: none;
  color: #fff;
  background-color: #004FB2;
}
.selector .first {
  border-radius: 0.5em 0 0 0;
}
.selector .last {
  border-radius: 0 0.5em 0 0;
  margin: 0 0 0 0;
}
.selector .current {
  font-weight: bold;
  color: #fff;
  background-color: #004FB2;
}

/**** Pagination ****/
.my-paginator {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  list-style: none;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  margin-top: 2em;
}

.my-paginator li {
  display: inline-block;
}

.my-paginator a:hover {
  border-bottom: none;
  color: #fff;
  background-color: #004FB2;
}

.my-paginator .my-button {
  border-radius: 0;
  padding: 0.8em 1.4em;
  vertical-align: top;
  height: 1.1em;
  color: #1F2223;
  background-color: #2F383B;
}
.my-paginator .current {
  color: #fff;
  background-color: #1E2428;
}

.my-paginator .prev {
  border-radius: 0.3em 0 0 0.3em;
}
.my-paginator .next {
  border-radius: 0 0.3em 0.3em 0;
}

/**** Difficulty ****/
.Easy:before { color: #81C648; content: '\00a0\25C6\00a0'; }
.Medium:before { color: #FF8300; content: '\00a0\25C6\00a0'; }
.Hard:before { color: #F03B38; content: '\00a0\25C6\00a0'; }

/**** Sorting ****/
.ascending:after {
  content: "";
  position: absolute;
  margin: 7px 0 0 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 4px solid #FFF;
}
.descending:after {
  content: "";
  position: absolute;
  margin: 7px 0 0 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #FFF;
}

/*****************************************************************************/
/*                      LOGGED IN HOME / TABLES / PROFILE                   */
/***************************************************************************/

.activity-container {
  padding: 10px 20px;
  background-color: rgba(35, 44, 49, 0.5);
  border-radius: 6px;
}

.activity-image {
  padding: 0.5em 0em 0.5em 0em;
}

.challenges-container-top, .user-container-top {
  background-color: #2f383b;
  height: 5px;
  border-radius: 5px 5px 0 0;
}
.challenges-container-entry, .user-container-entry {
  padding: 14px;
  background-color: rgba(35, 44, 49, 0.5);
  border-bottom: 1px solid #2f383b;
}
.challenge-col-icon img {
  margin-top: 9px;
  width: 30px;
  height: 30px;
}
.challenge-col-title {
  padding-left: 12px;
}
.user-col-title {

}
.challenge-col-title .title, .user-col-title .title {
  font-size: 20px;
  text-align: left;
}
.challenge-col-title .detail, .user-col-title .detail {
  font-size: 12px;
  font-style: italic;
  color: #aaaaaa;
}
.challenge-col-reward, .user-col-earnings {
  color: #dddddd;
  font-size: 11px;
  text-align: right;
  line-height: 45px;
  vertical-align: middle;
}
.challenge-col-info {
  color: #aaaaaa;
  font-size: 12px;
  text-align: right;
}
.challenges-container-bottom, .user-container-bottom {
  background-color: #2f383b;
  height: 4px;
  border-radius: 0 0 5px 5px;
}

.red-title {
  text-align: left;
  font-size: 18px;
  color: #e01212;
  margin: 0.2em 0;
}


/********************************************************************/
/*                            CREATE EXERCISE                       */
/********************************************************************/

.help {
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: #263034;
  color: white;
  text-align: center;
  font-size: 1em;
}

.textinsert a {
  padding: 2px 3px 0 7px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1px;
  background-color: #004FB2;
}

.textinsert a:hover {
  border-bottom: none;
  background-color: #004FFF;
}

.textinsert .first {
  border-radius: 0.3em 0.3em 0 0;
}
.textinsert .last {
  border-radius: 0 0 0.3em 0.3em;
}

h1.leftalign,h2.leftalign,h3.leftalign {
  text-align: left
}

.error_box {
  background-color: #721616;
  margin: 5px;
}

.textareaa {
  padding: 0em 0em;
}


/********************************************************************/
/*                               TAG INFO                           */
/********************************************************************/

.taginfobody {
  background-color: #0e1214;
  padding: 22px;
  font-family: arial, sans-serif;
}
.tagsectioncontainer {
  padding: 1em;
  background-color: rgba(35, 44, 49, 0.5);
  border-radius: 0.5em;
  margin: 2em 0;
}
.tagsection {
  font-size: 15px;
  font-weight: bold;
}
.tagheader {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
.taginfo {
  margin: 0;
  font-size: 13px;
}
.taglist {
  margin-left: 12px;
}
.taglist li {
  margin-bottom: 0.8em;
}


/********************************************************************/
/*                             VIEW EXERCISE                        */
/********************************************************************/

.challenge-title {
  text-align: left;
  font-size: 34px;
  color: #d92829;
  margin: 20px 0;
}
.exercise-list-item {
  border-radius: 5px;
  padding: 5px 10px;
}
.exercise-list-selected {
  background-color: rgba(35, 44, 49, 0.5);
}
a.exercise-list-title {
  font-family: Rosario, arial, sans-serif;
  font-size: 18px;
  vertical-align: top;
  color: #aaaaaa;
}
.exercise-list-selected a.exercise-list-title {
  color: #eeeeee;
}
.author-name {
  text-align: right;
  font-size: 14px;
  color: #d92829;
  margin-top: 35px;
}
.exercise-title {
  text-align: left;
  font-size: 22px;
  color: #eeeeee;
  margin-bottom: 35px;
}
.exercise-header-small {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #dddddd;
  margin: 1.8em 0 0;
}
.exercise-header-large {
  font-size: 22px;
  color: #eeeeee;
  margin: 1.5em 0 0;
}
.userinput {
  margin-right: 8px;
  position: relative;
}
.userinput .CodeMirror {
  border-width: 5px;
  z-index: 5;
}
.userinput-result {
  display: none;
}
.userinput-correct, .userinput-incorrect {
  font-family: monospace;
  font-size: 15px;
  border: 5px solid #b32324;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 6px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.userinput-correct {
  background-color: #1a2715;
  border-color: #45b323;
  color: #a8ea94;
}
.userinput-incorrect {
  background-color: #271516;
  border-color: #b32324;
  color: #b16e6f;
}
.submit-button {
  z-index: 10;
  position: absolute;
  right: 0px;
  bottom: 10px;
  height: 3.2em; font-size: 12px; font-weight: bold; background-color: #139f25;
}


/********************************************************************/
/*                        CHALLENGE COMPLETED                       */
/********************************************************************/

.bar {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-left:1px solid black;
  background-color: #00E043;
  height: 10px;
  margin-top: 4px;
}

.grey {
  background-color: #767676;
}

.bar.first {
  height: 10px;
  border-radius: 0.2em 0 0 0.2em;
  margin-top: 4px;
  border-left: none;
}

.bar.last {
  height: 10px;
  border-radius: 0 0.2em 0.2em 0;
  margin-top: 4px;
}

.bar.full {
  height: 10px;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  margin-top: 4px;
  border-left: none;
}

/********************************************************************/
/*         CODEMIRROR EXTRA COLOR FOR OUR SYNTAX                    */
/********************************************************************/


.cm-red { color: #FF0000 ; }

